<!DOCTYPE html>
<html>
<head>
	<title>Data store</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="bower_components/angular-bootstrap/ui-bootstrap-csp.css"/>
		<link type="image/ico" href="https://healthy.kaiserpermanente.org/static/consumer/consumernet/theme/styles/private/images/kp.ico" rel="shortcut icon" />

</head>
<body ng-app="kpapply">

<div ng-controller="SessionController as session">
    <button ng-click="login()">Start session</button>
</div>

<div class="container-fluid">
	<div class="navbar navbar-default">
		<div class="navbar-header">
			<h2 style="margin-left: 5px"> Family Member Applying for Coverage</h2>
		</div>
	</div>
</div>
<div  ng-controller="AddMemberController as addMemberController">
<alert-message-directive></alert-message-directive>
<form name="addmemberform"
	  ng-submit="addmemberform.$valid && addMember(memberData, addmemberform)" role="form" novalidate>

<div class="container">



	<!-- row 1 -->
	<div class="row text-left">
		<div class="col-md-4">
			<br/><label>Family Member's Name</label>
		</div>
		<div class="col-md-2"
             ng-class="{'has-error': (addmemberform.$submitted || addmemberform.fname.$touched) && addmemberform.fname.$invalid}">
			<span style="color:red;">*</span><label for="fname">First</label><br/>
			<input type="text" ng-model="memberData.fname" name="fname" id="fname" class="form-control" required />
		</div>
		<div class="col-md-2">
			<label for="mname">MI</label><br/>
			<input type="text" ng-model="memberData.mname" name="mname" id="mname" class="form-control" />
		</div>
		<div class="col-md-2"
             ng-class="{'has-error': (addmemberform.$submitted || addmemberform.lname.$touched) && addmemberform.lname.$invalid}">
			<span style="color:red;">*</span><label for="lname">Last</label><br/>
			<input type="text" ng-model="memberData.lname" name="lname" id="lname" class="form-control" required />
		</div>
		<div class="col-md-2">
			<label for="suffix">Suffix</label><br/>
			<select ng-model="memberData.suffix" name="suffix" id="suffix" class="form-control">
				<option>Jr.</option>
				<option>Sr.</option>
			</select>

		</div>

		<div class="alert alert-danger" ng-cloak ng-messages="addmemberform.fname.$error" ng-if="(addmemberform.$submitted || addmemberform.fname.$touched) && addmemberform.fname.$invalid">
			<div ng-message="required">First name is required</div>
		</div>
		<div class="alert alert-danger" ng-cloak ng-messages="addmemberform.lname.$error" ng-if="(addmemberform.$submitted || addmemberform.lname.$touched) && addmemberform.lname.$invalid">
			<div ng-message="required">Last name is required</div>
		</div>
	</div>

	<!-- ROW 2 -->
	<br/>
	<div class="row text-left">
		<div class="col-md-4">
			<label for="relationship">
				<span style="color:red;">*</span>Relationship to Primary Applicant
			</label>
		</div>
		<div class="col-md-2"
             ng-class="{'has-error': (addmemberform.$submitted || addmemberform.relationship.$touched) && addmemberform.relationship.$invalid}">
			<select ng-model="memberData.relationship" name="relationship" id="relationship"  class="form-control" required >
				<option>Spouse</option>
				<option>Dependent</option>
				<option>Grandchild</option>
				<option>Domestic Partner</option>
			</select>
		</div>
		<div class="col-md-4"></div>
		<div class="alert alert-danger" ng-cloak ng-messages="addmemberform.lname.$error" ng-if="(addmemberform.$submitted || addmemberform.relationship.$touched) && addmemberform.relationship.$invalid">
			<div ng-message="required">Relationship is required</div>
		</div>
	</div>

	<!-- ROW 3 -->
	<br/>
	<div class="row text-left">
		<div class="col-md-4">
			<label for="Gender">
				<span style="color:red;">*</span>Gender
			</label>
		</div>
		<div class="col-md-2"
             ng-class="{'has-error': (addmemberform.$submitted || addmemberform.gender.$touched) && addmemberform.gender.$invalid}">
			<div class="radio">
			  <label><input ng-model="memberData.gender" type="radio" name="gender" value="Male">Male</label>
			</div>
			<div class="radio">
			  <label><input ng-model="memberData.gender" type="radio" name="gender" value="Female">Female</label>
			</div>
		</div>
		<div class="col-md-4"></div>
	</div>

	<!-- ROW 4 -->
	<br/>
	<div class="row text-left">
		<div class="col-md-4">
			<label for="dob">
				<span style="color:red;">*</span>Date of Birth
			</label>
		</div>
		<div ng-controller="CalendarController as CalCtrl">
			<div class="col-md-3" ng-class="{'has-error': (addmemberform.$submitted || addmemberform.dob.$touched) && addmemberform.dob.$invalid}">
				<p class='input-group'>
					<input type="text" class="form-control" name="dob" show-button-bar="false" datepicker-popup="{{format}}" ng-model="memberData.dob" is-open="opened" ng-required="true" max-date="maxDate" />
					<span class="input-group-btn">
						<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
					</span>
				</p>
			</div>
		</div>

		<div class="col-md-4"></div>

		<div class="alert alert-danger" ng-cloak ng-messages="addmemberform.dob.$error" ng-if="(addmemberform.$submitted || addmemberform.dob.$touched) && addmemberform.dob.$invalid">
			<div ng-message="required">Date of birth is required</div>
		</div>
	</div>

	<!-- ROW 5 -->
	<br/>
	<div class="row text-left">
		<div class="col-md-4">
			<label for="previous_customer">
                <span style="color:red;">*</span>Is the Applicant an existing or previous Kaiser Permanente member
			</label>
		</div>
		<div class="col-md-2"
             ng-class="{'has-error': (addmemberform.$submitted || addmemberform.previous_customer.$touched) && addmemberform.previous_customer.$invalid}">
			<div class="radio">
			  <label><input ng-model="memberData.previous_customer" type="radio" name="previous_customer" value="Yes" required>Yes</label>
			</div>
			<div class="radio">
			  <label><input ng-model="memberData.previous_customer" type="radio" name="previous_customer" value="No" required>No</label>
			</div>
        </div>
		<div class="col-md-4"></div>
	</div>


	<!-- ROW 6 -->
	<br/>
	<div class="row text-left">
		<div class="col-md-4">
			<label for="prev_state">
                <span style="color:red;">*</span>Prior Coverage in State?
			</label>
		</div>
		<div class="col-md-2"
             ng-class="{'has-error': (addmemberform.$submitted || addmemberform.prev_state.$touched) && addmemberform.prev_state.$invalid}">
        <select ng-model="memberData.prev_state" name="prev_state" id="prev_state"  class="form-control" required >
				<option>MD</option>
				<option>CA</option>
			</select>
        </div>
		<div class="col-md-4"></div>
	</div>

	<div class="alert alert-danger" ng-cloak ng-messages="addmemberform.prev_state.$error" ng-if="(addmemberform.$submitted || addmemberform.prev_state.$touched) && addmemberform.prev_state.$invalid">
		<div ng-message="required">State is required</div>
	</div>
	<!-- ROW 7 -->
	<br/>
	<div class="row text-left">
		<div class="col-md-4">
			<label for="medicalrno">
                <span style="color:red;">*</span>Medical Record Number
			</label>
		</div>
		<div class="col-md-2"
             ng-class="{'has-error': (addmemberform.$submitted || addmemberform.medicalrno.$touched) && addmemberform.medicalrno.$invalid}">
			<input ng-model="memberData.medicalrno" type="text" name="medicalrno" id="medicalrno" class="form-control" ng-minlength="8" ng-maxlength="10" required />
        </div>
		<div class="col-md-4"></div>

		<div class="alert alert-danger" ng-cloak ng-messages="addmemberform.medicalrno.$error" ng-if="(addmemberform.$submitted || addmemberform.medicalrno.$touched) && addmemberform.medicalrno.$invalid">
			<div ng-message="required">Medical Record Number is required</div>
			<div ng-message="minlength">Medical Record Number should have at least 8 characters</div>
			<div ng-message="maxlength">Medical Record Number should have a maximum of 10 characters</div>
		</div>
	</div>

	<!-- ROW 8 -->
	<br/>
	<div class="row text-left">
		<div class="col-md-4">
			<label for="termination">
				Termination Date, if applicable
			</label>
		</div>
		<div ng-controller="CalendarController as CalCtrl">
			<div class="col-md-3">
				<p class='input-group'>
					<input type="text" class="form-control" name="termination" ng-model="memberData.termination" show-button-bar="false" datepicker-popup="{{format}}" is-open="opened" max-date="maxDate" />
					<span class="input-group-btn">
						<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
					</span>
				</p>
			</div>
		<div class="col-md-4"></div>
	</div>
	</div>

	<!-- ROW 9 -->
	<br/>
	<br/>
	<div class="row text-left">
	<div class="col-md-3 col-md-offset-2">
		<input type="submit" value="submit"  class="form-control" />
	</div>
<!-- 	<div class="col-md-3 col-md-offset-2">
		<input type="reset" value="reset" class="form-control" />
	</div> -->

	<alert-directive></alert-directive>
	</div>

</div>
</form>
</div>

<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/ng-idle/angular-idle.min.js"></script>
<script src="bower_components/angular-messages/angular-messages.min.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>


<script src="app.js"></script>
<script src="scripts/controllers/mainController.js"></script>
<script src="scripts/controllers/sessionController.js"></script>
<script src="scripts/controllers/addMemberController.js"></script>
<script src="scripts/controllers/CalendarController.js"></script>
<script src="scripts/services/authenticationHttpResponseInterceptor.js"></script>
<script src="scripts/utils/sessionTimeoutDialog.js"></script>
<script src="scripts/utils/exLogConfig.js"></script>
<script type="text/javascript" src="scripts/utils/extendLog.js"></script>
<script type="text/javascript" src="scripts/directive/alerts.js"></script>

</body>
</html>
