<div ng-controller="PlansController as plansCtrl">


    <div class="container">
        <h2>Find a Plan</h2>
    <form name="findPlansForm" novalidate>
        <div class="form-group">
            <label for="zipCode">Zip Code</label>
            <input type="text" class="form-control" id="zipCode" ng-model="zipCode" ng-change="findZipCode(zipCode)" placeholder="80226" required>
        </div>

        <div class="form-group" ng-show="counties">
            <label for="county">County</label>
            <select class="form-control" id="county" ng-model="county" ng-options="county for county in counties" ng-change="getPlans(zipCode, county)">
                <option value="">Select a county</option>
            </select>
        </div>



    </form>
        <div ng-show="planNames">
            <ul ng-repeat="planName in planNames">
                <li>{{planName}}</li>
            </ul>
        </div>
    </div>
</div>
